* text=auto
*.cs text eol=lf diff=csharp
*.json text eol=lf
*.md text eol=lf
*.asmdef text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.png binary
*.jpg binary
*.wav binary
*.ogg binary
*.mp3 binary
